body {
    margin:0;
    padding:0;
    background:#fff;
    font-size:12px;
    overflow:auto
}
#mainDiv {
    width:100%;
    height:100%
}
#content{

}
#errorMsg {
    width:100%;
    text-align:center;
    font-size:24px;
    position:absolute;
    top:100px;
    left:0
}
#copyright a {
    color:#666
}
.main-cont{
    display: flex;justify-content: center;align-items: center;padding: 50px;
}
@media screen and (max-width: 500px){
    .content{
        padding: 20px;
    }
    .heart-cont{
        width: 100%;
        height: 320px;
        overflow: hidden;
        position: relative;
        padding-top: 20px;
    }
    #loveHeart {
        width:670px;
        height:625px;
        margin: 0 auto;
        position: relative;
    }
    #garden {
        width:335px;
        height:312px;
    }
    #elapseClock {
        text-align:center;
        font-size:14px;
        margin-top:10px;
        margin-bottom:10px
    }
    #words {
        font-family:"sans-serif";
        width:300px;
        font-size:14px;
        color:#666;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-35%);
        height: 200px;
    }
    #messages {
        display:none
    }
    #elapseClock .digit {
        font-family:"digit";
        font-size:12px
    }
    #loveu {
        padding:5px;
        font-size:14px;
        margin-top:30px;
        margin-right:98px;
        text-align:right;
        display:none
    }
    #loveu .signature {
        margin-top:10px;
        font-size:12px;
        font-style:italic
    }
    #clickSound {
        display:none
    }
    #code {
        width:100%;
        height:unset;
        color:#333;
        font-family:"Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
        font-size: 14px;
    }
    #code .string {
        color:#2a36ff
    }
    #code .keyword {
        color:#7f0055;
        font-weight:bold
    }
    #code .placeholder {
        margin-left:15px
    }
    #code .space {
        margin-left:7px
    }
    #code .comments {
        color:#3f7f5f
    }
    #copyright {
        margin-top:10px;
        text-align:center;
        width:100%;
        color:#666
    }
}
@media screen and (min-width: 1200px) {
    .main-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }
    .content{
        display: flex;
        justify-content: center;
        align-content: start;
        padding: 50px;
    }
    .heart-cont{
        width: 670px;
        height: 625px;
        overflow: hidden;
        position: relative;
        padding-top: 20px;
    }
    #loveHeart {
        width:670px;
        height:625px;
        margin: 0 auto;
        position: relative;
    }
    #garden {
        width:100%;
        height:100%
    }
    #elapseClock {
        text-align:right;
        font-size:18px;
        margin-top:10px;
        margin-bottom:10px
    }
    #words {
        font-family:"sans-serif";
        width:500px;
        font-size:24px;
        color:#666;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 200px;
    }
    #messages {
        display:none
    }
    #elapseClock .digit {
        font-family:"digit";
        font-size:36px
    }
    #loveu {
        padding:5px;
        font-size:22px;
        margin-top:60px;
        margin-right:120px;
        text-align:right;
        display:none
    }
    #loveu .signature {
        margin-top: 10px;
        font-size: 20px;
    }
    #code {
        width:400px;
        height:unset;
        color:#333;
        font-family:"Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
        font-size: 16px;
    }
    #code .string {
        color:#2a36ff
    }
    #code .keyword {
        color:#7f0055;
        font-weight:bold
    }
    #code .placeholder {
        margin-left:15px
    }
    #code .space {
        margin-left:7px
    }
    #code .comments {
        color:#3f7f5f
    }
    #copyright {
        margin-top:10px;
        text-align:center;
        width:100%;
        color:#666
    }
}